@font-face {
    font-family: "kaushanscript-regular";
    src:
        url("fonts/kaushanscript-regular-webfont.woff2") format("woff2"),
        url("fonts/kaushanscript-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --input-border: 2px solid #BFBFBF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
}

form {
    display: inline-block;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2px;
    text-wrap: wrap;
    text-align: center;
}

.content {
    display: inline-block;
    border: var(--input-border);
    border-radius: 4px;
    padding: 10px;
}

input,
button,
label {
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    width: 100%;
    max-width: 250px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

input,
button {
    border: var(--input-border);
    border-radius: 4px;
}

button {
    margin-top: 20px;
}

ul {
    display: flex;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

li {
    margin-right: 10px;
}

input,
label {
    display: block;
}

/* label {
    display: inline-block;
}

label span {
    display: inline-block;
    text-align: right;
} */

.img-container {
    position: relative;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

img.background {
    display: inline-block;
    width: 100%;
    height: auto;
}

img.logo {
    width: 25%;
    height: auto;
    padding: 10px;
}

.text-overlay {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    background-color: #FFFFFF;
    background: rgba(255,255,255,0.5);
}

.logo-overlay h1 {
    font-size: 4rem;
    margin: 0;
}

.logo-overlay p {
    margin: 0;
}

.logo-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25%;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.5);
    color: #101010;
    width: 100%;
    max-height: 200px;
    padding: 20px;
    text-align: center;
    font-family: "kaushanscript-regular";
}